/* HEADER */

.navbar {
	background-color: dimgray;
	border-radius: 0 0;
}
h1{ /* Food, LLC heading */
	color: red;
	font-family: ;
}

#nav-list a {
  color: black; 
  text-align: center;
  font-size: 1.8em;
}
#nav-list a:hover {
  background: #e7e7e7;
}
#nav-list a span{
  font-size: .8em;
}

/* END HEADER */


/* MAIN CONTENT */
h2{
	font-weight: bold;
}
.food-item-tile{
	margin-top: 9px;

}
.food-item-tile div{
	background-color: lightgrey;
	padding: 8px;
}
.food-item-tile .food-item-title{
	font-weight: bold;
	margin-top: 0;
}

/* END MAIN CONTENT */

/* FOOTER */

#panel-footer{
	background-color: red;
	margin-top: 15px;
}

/* END FOOTER */
